<div class="row m-3">
  <div class="col-12">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="addCarName">Name</label>
        <input type="text" class="form-control" id="addCarName" formControlName="name" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="addCarCapacity">Battery capacity</label>
        <input type="number" min="1" class="form-control" id="addCarCapacity" formControlName="capacity" placeholder="Enter capacity">
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </div>
</div>
